<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Comp 1_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,62}</string>
                <key>spriteSize</key>
                <string>{1080,618}</string>
                <key>spriteSourceSize</key>
                <string>{1080,1920}</string>
                <key>textureRect</key>
                <string>{{2165,1083},{1080,618}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Comp 1_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,62}</string>
                <key>spriteSize</key>
                <string>{1080,618}</string>
                <key>spriteSourceSize</key>
                <string>{1080,1920}</string>
                <key>textureRect</key>
                <string>{{2165,2165},{1080,618}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Comp 1_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,62}</string>
                <key>spriteSize</key>
                <string>{1080,618}</string>
                <key>spriteSourceSize</key>
                <string>{1080,1920}</string>
                <key>textureRect</key>
                <string>{{2165,3247},{1080,618}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Comp 1_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,62}</string>
                <key>spriteSize</key>
                <string>{1080,618}</string>
                <key>spriteSourceSize</key>
                <string>{1080,1920}</string>
                <key>textureRect</key>
                <string>{{2165,4329},{1080,618}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Comp 1_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,62}</string>
                <key>spriteSize</key>
                <string>{1080,618}</string>
                <key>spriteSourceSize</key>
                <string>{1080,1920}</string>
                <key>textureRect</key>
                <string>{{2165,4329},{1080,618}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Comp 1_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,62}</string>
                <key>spriteSize</key>
                <string>{1080,618}</string>
                <key>spriteSourceSize</key>
                <string>{1080,1920}</string>
                <key>textureRect</key>
                <string>{{2165,5411},{1080,618}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Comp 1_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,50}</string>
                <key>spriteSize</key>
                <string>{1080,642}</string>
                <key>spriteSourceSize</key>
                <string>{1080,1920}</string>
                <key>textureRect</key>
                <string>{{1,5427},{1080,642}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Comp 1_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,50}</string>
                <key>spriteSize</key>
                <string>{1080,642}</string>
                <key>spriteSourceSize</key>
                <string>{1080,1920}</string>
                <key>textureRect</key>
                <string>{{1083,5435},{1080,642}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Comp 1_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,48}</string>
                <key>spriteSize</key>
                <string>{1080,646}</string>
                <key>spriteSourceSize</key>
                <string>{1080,1920}</string>
                <key>textureRect</key>
                <string>{{1083,4141},{1080,646}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Comp 1_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,50}</string>
                <key>spriteSize</key>
                <string>{1080,642}</string>
                <key>spriteSourceSize</key>
                <string>{1080,1920}</string>
                <key>textureRect</key>
                <string>{{1,6071},{1080,642}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Comp 1_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,50}</string>
                <key>spriteSize</key>
                <string>{1080,642}</string>
                <key>spriteSourceSize</key>
                <string>{1080,1920}</string>
                <key>textureRect</key>
                <string>{{1,6071},{1080,642}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Comp 1_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,18}</string>
                <key>spriteSize</key>
                <string>{1080,706}</string>
                <key>spriteSourceSize</key>
                <string>{1080,1920}</string>
                <key>textureRect</key>
                <string>{{1083,1},{1080,706}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Comp 1_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,36}</string>
                <key>spriteSize</key>
                <string>{1080,672}</string>
                <key>spriteSourceSize</key>
                <string>{1080,1920}</string>
                <key>textureRect</key>
                <string>{{1,2129},{1080,672}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Comp 1_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,38}</string>
                <key>spriteSize</key>
                <string>{1080,666}</string>
                <key>spriteSourceSize</key>
                <string>{1080,1920}</string>
                <key>textureRect</key>
                <string>{{1,2803},{1080,666}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Comp 1_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,50}</string>
                <key>spriteSize</key>
                <string>{1080,642}</string>
                <key>spriteSourceSize</key>
                <string>{1080,1920}</string>
                <key>textureRect</key>
                <string>{{1083,6079},{1080,642}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Comp 1_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,50}</string>
                <key>spriteSize</key>
                <string>{1080,642}</string>
                <key>spriteSourceSize</key>
                <string>{1080,1920}</string>
                <key>textureRect</key>
                <string>{{1,6715},{1080,642}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Comp 1_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,50}</string>
                <key>spriteSize</key>
                <string>{1080,642}</string>
                <key>spriteSourceSize</key>
                <string>{1080,1920}</string>
                <key>textureRect</key>
                <string>{{1,6715},{1080,642}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Comp 1_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,49}</string>
                <key>spriteSize</key>
                <string>{1080,644}</string>
                <key>spriteSourceSize</key>
                <string>{1080,1920}</string>
                <key>textureRect</key>
                <string>{{1083,4789},{1080,644}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Comp 1_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,48}</string>
                <key>spriteSize</key>
                <string>{1080,646}</string>
                <key>spriteSourceSize</key>
                <string>{1080,1920}</string>
                <key>textureRect</key>
                <string>{{1,4779},{1080,646}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Comp 1_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,60}</string>
                <key>spriteSize</key>
                <string>{1080,624}</string>
                <key>spriteSourceSize</key>
                <string>{1080,1920}</string>
                <key>textureRect</key>
                <string>{{2165,1},{1080,624}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Comp 1_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,46}</string>
                <key>spriteSize</key>
                <string>{1080,650}</string>
                <key>spriteSourceSize</key>
                <string>{1080,1920}</string>
                <key>textureRect</key>
                <string>{{1083,3489},{1080,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Comp 1_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,18}</string>
                <key>spriteSize</key>
                <string>{1080,706}</string>
                <key>spriteSourceSize</key>
                <string>{1080,1920}</string>
                <key>textureRect</key>
                <string>{{1083,709},{1080,706}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Comp 1_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,18}</string>
                <key>spriteSize</key>
                <string>{1080,706}</string>
                <key>spriteSourceSize</key>
                <string>{1080,1920}</string>
                <key>textureRect</key>
                <string>{{1083,709},{1080,706}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Comp 1_00031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,46}</string>
                <key>spriteSize</key>
                <string>{1080,650}</string>
                <key>spriteSourceSize</key>
                <string>{1080,1920}</string>
                <key>textureRect</key>
                <string>{{1,4127},{1080,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Comp 1_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,18}</string>
                <key>spriteSize</key>
                <string>{1080,706}</string>
                <key>spriteSourceSize</key>
                <string>{1080,1920}</string>
                <key>textureRect</key>
                <string>{{1,713},{1080,706}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Comp 1_00033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,16}</string>
                <key>spriteSize</key>
                <string>{1080,710}</string>
                <key>spriteSourceSize</key>
                <string>{1080,1920}</string>
                <key>textureRect</key>
                <string>{{1,1},{1080,710}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Comp 1_00034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,18}</string>
                <key>spriteSize</key>
                <string>{1080,706}</string>
                <key>spriteSourceSize</key>
                <string>{1080,1920}</string>
                <key>textureRect</key>
                <string>{{1083,1417},{1080,706}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Comp 1_00035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,18}</string>
                <key>spriteSize</key>
                <string>{1080,706}</string>
                <key>spriteSourceSize</key>
                <string>{1080,1920}</string>
                <key>textureRect</key>
                <string>{{1,1421},{1080,706}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Comp 1_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,18}</string>
                <key>spriteSize</key>
                <string>{1080,706}</string>
                <key>spriteSourceSize</key>
                <string>{1080,1920}</string>
                <key>textureRect</key>
                <string>{{1,1421},{1080,706}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Comp 1_00037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,18}</string>
                <key>spriteSize</key>
                <string>{1080,706}</string>
                <key>spriteSourceSize</key>
                <string>{1080,1920}</string>
                <key>textureRect</key>
                <string>{{1083,2125},{1080,706}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Comp 1_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,58}</string>
                <key>spriteSize</key>
                <string>{1080,626}</string>
                <key>spriteSourceSize</key>
                <string>{1080,1920}</string>
                <key>textureRect</key>
                <string>{{1,7359},{1080,626}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Comp 1_00039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,50}</string>
                <key>spriteSize</key>
                <string>{1080,642}</string>
                <key>spriteSourceSize</key>
                <string>{1080,1920}</string>
                <key>textureRect</key>
                <string>{{1083,6723},{1080,642}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Comp 1_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,50}</string>
                <key>spriteSize</key>
                <string>{1080,642}</string>
                <key>spriteSourceSize</key>
                <string>{1080,1920}</string>
                <key>textureRect</key>
                <string>{{1727,6723},{1080,642}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Comp 1_00041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,45}</string>
                <key>spriteSize</key>
                <string>{1080,654}</string>
                <key>spriteSourceSize</key>
                <string>{1080,1920}</string>
                <key>textureRect</key>
                <string>{{1083,2833},{1080,654}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Comp 1_00042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,45}</string>
                <key>spriteSize</key>
                <string>{1080,654}</string>
                <key>spriteSourceSize</key>
                <string>{1080,1920}</string>
                <key>textureRect</key>
                <string>{{1083,2833},{1080,654}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Comp 1_00043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,44}</string>
                <key>spriteSize</key>
                <string>{1080,654}</string>
                <key>spriteSourceSize</key>
                <string>{1080,1920}</string>
                <key>textureRect</key>
                <string>{{1,3471},{1080,654}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>blood_burst.png</string>
            <key>size</key>
            <string>{2790,7986}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:61b435ee5beb9bf83721a69a5a017fe2:fa54b17de99ad6db393ec096fd8d898b:95040d4721b9467fceb1c109ffd7802f$</string>
            <key>textureFileName</key>
            <string>blood_burst.png</string>
        </dict>
    </dict>
</plist>
