<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GoldMinner_Headshot_01_00037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{94,232}</string>
                <key>spriteSourceSize</key>
                <string>{182,270}</string>
                <key>textureRect</key>
                <string>{{1115,235},{94,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GoldMinner_Headshot_01_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{94,232}</string>
                <key>spriteSourceSize</key>
                <string>{182,270}</string>
                <key>textureRect</key>
                <string>{{1115,235},{94,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GoldMinner_Headshot_01_00039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,1}</string>
                <key>spriteSize</key>
                <string>{106,234}</string>
                <key>spriteSourceSize</key>
                <string>{182,270}</string>
                <key>textureRect</key>
                <string>{{107,237},{106,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GoldMinner_Headshot_01_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{106,234}</string>
                <key>spriteSourceSize</key>
                <string>{182,270}</string>
                <key>textureRect</key>
                <string>{{215,237},{106,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GoldMinner_Headshot_01_00041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-1}</string>
                <key>spriteSize</key>
                <string>{104,236}</string>
                <key>spriteSourceSize</key>
                <string>{182,270}</string>
                <key>textureRect</key>
                <string>{{1,1},{104,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GoldMinner_Headshot_01_00042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-3}</string>
                <key>spriteSize</key>
                <string>{104,236}</string>
                <key>spriteSourceSize</key>
                <string>{182,270}</string>
                <key>textureRect</key>
                <string>{{1,239},{104,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GoldMinner_Headshot_01_00043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-5}</string>
                <key>spriteSize</key>
                <string>{106,234}</string>
                <key>spriteSourceSize</key>
                <string>{182,270}</string>
                <key>textureRect</key>
                <string>{{217,1},{106,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GoldMinner_Headshot_01_00044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-5}</string>
                <key>spriteSize</key>
                <string>{106,234}</string>
                <key>spriteSourceSize</key>
                <string>{182,270}</string>
                <key>textureRect</key>
                <string>{{323,237},{106,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GoldMinner_Headshot_01_00045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-5}</string>
                <key>spriteSize</key>
                <string>{106,234}</string>
                <key>spriteSourceSize</key>
                <string>{182,270}</string>
                <key>textureRect</key>
                <string>{{325,1},{106,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GoldMinner_Headshot_01_00046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-4}</string>
                <key>spriteSize</key>
                <string>{108,234}</string>
                <key>spriteSourceSize</key>
                <string>{182,270}</string>
                <key>textureRect</key>
                <string>{{107,1},{108,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GoldMinner_Headshot_01_00047.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-5}</string>
                <key>spriteSize</key>
                <string>{110,232}</string>
                <key>spriteSourceSize</key>
                <string>{182,270}</string>
                <key>textureRect</key>
                <string>{{891,235},{110,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GoldMinner_Headshot_01_00048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-5}</string>
                <key>spriteSize</key>
                <string>{110,232}</string>
                <key>spriteSourceSize</key>
                <string>{182,270}</string>
                <key>textureRect</key>
                <string>{{893,1},{110,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GoldMinner_Headshot_01_00049.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-5}</string>
                <key>spriteSize</key>
                <string>{110,232}</string>
                <key>spriteSourceSize</key>
                <string>{182,270}</string>
                <key>textureRect</key>
                <string>{{1003,235},{110,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GoldMinner_Headshot_01_00050.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-5}</string>
                <key>spriteSize</key>
                <string>{112,232}</string>
                <key>spriteSourceSize</key>
                <string>{182,270}</string>
                <key>textureRect</key>
                <string>{{663,235},{112,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GoldMinner_Headshot_01_00051.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-5}</string>
                <key>spriteSize</key>
                <string>{110,232}</string>
                <key>spriteSourceSize</key>
                <string>{182,270}</string>
                <key>textureRect</key>
                <string>{{1005,1},{110,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GoldMinner_Headshot_01_00052.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-5}</string>
                <key>spriteSize</key>
                <string>{112,232}</string>
                <key>spriteSourceSize</key>
                <string>{182,270}</string>
                <key>textureRect</key>
                <string>{{665,1},{112,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GoldMinner_Headshot_01_00053.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-6}</string>
                <key>spriteSize</key>
                <string>{112,232}</string>
                <key>spriteSourceSize</key>
                <string>{182,270}</string>
                <key>textureRect</key>
                <string>{{777,235},{112,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GoldMinner_Headshot_01_00054.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-6}</string>
                <key>spriteSize</key>
                <string>{114,232}</string>
                <key>spriteSourceSize</key>
                <string>{182,270}</string>
                <key>textureRect</key>
                <string>{{431,237},{114,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GoldMinner_Headshot_01_00055.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-6}</string>
                <key>spriteSize</key>
                <string>{114,232}</string>
                <key>spriteSourceSize</key>
                <string>{182,270}</string>
                <key>textureRect</key>
                <string>{{433,1},{114,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GoldMinner_Headshot_01_00056.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-6}</string>
                <key>spriteSize</key>
                <string>{114,232}</string>
                <key>spriteSourceSize</key>
                <string>{182,270}</string>
                <key>textureRect</key>
                <string>{{547,235},{114,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GoldMinner_Headshot_01_00057.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-6}</string>
                <key>spriteSize</key>
                <string>{114,232}</string>
                <key>spriteSourceSize</key>
                <string>{182,270}</string>
                <key>textureRect</key>
                <string>{{549,1},{114,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GoldMinner_Headshot_01_00058.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-6}</string>
                <key>spriteSize</key>
                <string>{112,232}</string>
                <key>spriteSourceSize</key>
                <string>{182,270}</string>
                <key>textureRect</key>
                <string>{{779,1},{112,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GoldMinner_Headshot_01_00059.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-7}</string>
                <key>spriteSize</key>
                <string>{108,230}</string>
                <key>spriteSourceSize</key>
                <string>{182,270}</string>
                <key>textureRect</key>
                <string>{{1117,1},{108,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GoldMinner_Headshot_01_00060.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-7}</string>
                <key>spriteSize</key>
                <string>{104,230}</string>
                <key>spriteSourceSize</key>
                <string>{182,270}</string>
                <key>textureRect</key>
                <string>{{1211,233},{104,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GoldMinner_Headshot_01_00061.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-7}</string>
                <key>spriteSize</key>
                <string>{100,230}</string>
                <key>spriteSourceSize</key>
                <string>{182,270}</string>
                <key>textureRect</key>
                <string>{{1227,1},{100,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GoldMinner_Headshot_01_00062.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-7}</string>
                <key>spriteSize</key>
                <string>{94,228}</string>
                <key>spriteSourceSize</key>
                <string>{182,270}</string>
                <key>textureRect</key>
                <string>{{1317,233},{94,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GoldMinner_Headshot_01_00063.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-7}</string>
                <key>spriteSize</key>
                <string>{90,228}</string>
                <key>spriteSourceSize</key>
                <string>{182,270}</string>
                <key>textureRect</key>
                <string>{{1317,329},{90,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GoldMinner_Headshot_01_00064.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-7}</string>
                <key>spriteSize</key>
                <string>{86,228}</string>
                <key>spriteSourceSize</key>
                <string>{182,270}</string>
                <key>textureRect</key>
                <string>{{1317,421},{86,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GoldMinner_Headshot_01_00065.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-7}</string>
                <key>spriteSize</key>
                <string>{86,228}</string>
                <key>spriteSourceSize</key>
                <string>{182,270}</string>
                <key>textureRect</key>
                <string>{{1329,1},{86,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GoldMinner_Headshot_01_00066.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-7}</string>
                <key>spriteSize</key>
                <string>{86,228}</string>
                <key>spriteSourceSize</key>
                <string>{182,270}</string>
                <key>textureRect</key>
                <string>{{1417,1},{86,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>Die.png</string>
            <key>size</key>
            <string>{1546,508}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f789ab6242fced492a23e0fd5994c86a:11b0ccef171d24150029fa26484568d8:f623c01f2d4dd2bc0f89e63912f3ede5$</string>
            <key>textureFileName</key>
            <string>Die.png</string>
        </dict>
    </dict>
</plist>
