<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Comp 1_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,16}</string>
                <key>spriteSize</key>
                <string>{270,268}</string>
                <key>spriteSourceSize</key>
                <string>{270,480}</string>
                <key>textureRect</key>
                <string>{{1,1},{270,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Comp 1_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,16}</string>
                <key>spriteSize</key>
                <string>{270,268}</string>
                <key>spriteSourceSize</key>
                <string>{270,480}</string>
                <key>textureRect</key>
                <string>{{273,1},{270,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Comp 1_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,16}</string>
                <key>spriteSize</key>
                <string>{270,268}</string>
                <key>spriteSourceSize</key>
                <string>{270,480}</string>
                <key>textureRect</key>
                <string>{{273,1},{270,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Comp 1_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,16}</string>
                <key>spriteSize</key>
                <string>{270,268}</string>
                <key>spriteSourceSize</key>
                <string>{270,480}</string>
                <key>textureRect</key>
                <string>{{545,1},{270,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Comp 1_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,16}</string>
                <key>spriteSize</key>
                <string>{270,268}</string>
                <key>spriteSourceSize</key>
                <string>{270,480}</string>
                <key>textureRect</key>
                <string>{{817,1},{270,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Comp 1_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,16}</string>
                <key>spriteSize</key>
                <string>{270,268}</string>
                <key>spriteSourceSize</key>
                <string>{270,480}</string>
                <key>textureRect</key>
                <string>{{1089,1},{270,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Comp 1_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,16}</string>
                <key>spriteSize</key>
                <string>{270,268}</string>
                <key>spriteSourceSize</key>
                <string>{270,480}</string>
                <key>textureRect</key>
                <string>{{1361,1},{270,268}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Comp 1_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,16}</string>
                <key>spriteSize</key>
                <string>{270,268}</string>
                <key>spriteSourceSize</key>
                <string>{270,480}</string>
                <key>textureRect</key>
                <string>{{1,271},{270,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Comp 1_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,16}</string>
                <key>spriteSize</key>
                <string>{270,268}</string>
                <key>spriteSourceSize</key>
                <string>{270,480}</string>
                <key>textureRect</key>
                <string>{{1,271},{270,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Comp 1_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,16}</string>
                <key>spriteSize</key>
                <string>{270,268}</string>
                <key>spriteSourceSize</key>
                <string>{270,480}</string>
                <key>textureRect</key>
                <string>{{273,271},{270,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Comp 1_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,16}</string>
                <key>spriteSize</key>
                <string>{270,268}</string>
                <key>spriteSourceSize</key>
                <string>{270,480}</string>
                <key>textureRect</key>
                <string>{{545,271},{270,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Comp 1_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,16}</string>
                <key>spriteSize</key>
                <string>{270,268}</string>
                <key>spriteSourceSize</key>
                <string>{270,480}</string>
                <key>textureRect</key>
                <string>{{817,271},{270,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Comp 1_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,16}</string>
                <key>spriteSize</key>
                <string>{270,268}</string>
                <key>spriteSourceSize</key>
                <string>{270,480}</string>
                <key>textureRect</key>
                <string>{{1089,271},{270,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>hit.png</string>
            <key>size</key>
            <string>{1630,540}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c72061e61da75da8bf1474d78866487e:a490322936739948dc89d76349f5ec49:516f89fe362b6390efd4aa18575c8762$</string>
            <key>textureFileName</key>
            <string>hit.png</string>
        </dict>
    </dict>
</plist>
